#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

strong {
  /* color: #EC0DFD; */
}

.wrong {
  text-decoration: underline;
  color: red;
  font-weight: bold;
  min-height: 16px;
}
